
.happy-clints {
    background-image: url("../images/ballon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.happy-clints-card {
    transition: background 1s;
    &:hover {
        background-color: #ffffff;
        color: #a34949;
        transform: scale(0.99);
    }
}

// testimonial card section style start
.client-testimonial-wrapper {
    background-image: url("../images/clientimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.testimonial-card {
    background-image: linear-gradient(to right, #3f3ce0 , #6cbbf8);
    p {
        &:first-child {
            font-size: 14px;
        }
    }
}

.testimonial-client-img {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid #000000;
    }
}

@media screen and (max-width: 990px) {
    .aboutus-main-text {
        margin-top: 25px;
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
}
// testimonial card section style end



// our advantages section style start
.advantages-icon {
    font-size: 40px;
    color: #ad146a;
    width: 100px;
    height: 100px;
    box-shadow: 2px 0 20px 0 rgba(100, 103, 121, 0.21);
    &:hover {
        box-shadow: 2px 0 25px 2px rgba(100, 103, 121, 0.336);
    }
    .plane-icon {
        transform: rotate(-90deg);
    }
}
.advantages-border {
    width: 100px;
    padding: 1px;
}
.advantages-text {
    color: rgb(128, 126, 126);
}
// our advantages section style end