

.main-navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(32, 31, 31, 0.808);
    nav {
        div {
            ul {
                .main-menu-item {
                    .main-menu-link {
                        color: rgb(255, 255, 255);
                        font-size: 14px;
                        margin: 0 5px;
                        padding: 8px 20px;
                        border: 2px solid rgba(255, 255, 255, 0);
                        border-radius: 50px;
                        transition: 0.5s;
                        &:hover {
                            color: red;
                            border-color: rgb(255, 255, 255);
                        }
                    }
                    .nav-link.active {
                        color: red;
                        border: 2px solid rgb(255, 255, 255);
                    }
                    .take-action {
                        border-color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}


