
.news-post {
    div {
        a {
            color: #2b7a5a;
        }
        a.news-comments {
            color: #5beeb1;
            &:hover {
                text-shadow: 2px 2px 6px rgba(91, 238, 177, 0.651);
            }
        }
    }
}